*{
box-sizing: border-box;
}

:root {
  --color-primary: #259eab;
  --color-dark: #07353f;
  --color-back: #153F49;
  --color-light: #f7fbfc;
  --color-whatsapp-green: #25d366;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --bs-body-font-family: var(--font-body);
}

body {
  margin: 0;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: var(--font-heading);
}

.bg-brand-light {
  background-color: var(--color-light);
}

.text-brand {
  color: var(--color-primary);
}

.text-brand-dark {
  color: var(--color-dark);
}

.bg-brand-dark {
  background-color: var(--color-dark);
}

.bg-brand-back {
  background-color: var(--color-back);
}

.bg-brand-primary {
  background-color: var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.bg-whatsapp {
  background-color: var(--color-whatsapp-green);
  color: #fff;
}


.btn-whatsapp {
  background-color: var(--color-whatsapp-green);
  color: #fff;
  border: none;
}

.btn-whatsapp:hover {
  background-color: #1ebd5a;
  color: #fff;
}
